# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 4e9581fb71f071aca4335bbdb997bd42004eaa250fe0f8439d6b5330d24698929bf65710b37d482cabed0bd1cddb14b91370c3d895fefbaafcd606da917293c0

test:
  secret_key_base: 7070ab0969bf856d4d159e6702cd5c8ba2865e655d8d6d13ee9bae9ce6571081a8d09c717eacee0a1e381473c3b4ef425be522c169da95caf937c51e0d994d44

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
